@model SysInventarioFacturacionAgro.EntidadesDeNegocio.Compra

@{
    ViewData["Title"] = "Edit";
    List<SysInventarioFacturacionAgro.EntidadesDeNegocio.Usuario> usuarios = ViewBag.Usuarios as List<SysInventarioFacturacionAgro.EntidadesDeNegocio.Usuario>;
    List<SysInventarioFacturacionAgro.EntidadesDeNegocio.Proveedor> proveedores = ViewBag.Proveedor as List<SysInventarioFacturacionAgro.EntidadesDeNegocio.Proveedor>;

}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="m-0 font-weight-bold text-primary" style="font-size: 1.5rem;">Modificar Compra</h1>
    </div>
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCompra" class="form-control" />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="NumeroCompra" class="control-label">Número de Compra</label>
                        <input asp-for="NumeroCompra" class="form-control" />
                        <span asp-validation-for="NumeroCompra" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="FechaCompra" class="control-label">Fecha de Compra</label>
                        <input asp-for="FechaCompra" class="form-control" />
                        <span asp-validation-for="FechaCompra" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="FormaPago" class="control-label">Forma de Pago</label>
                        <select asp-for="FormaPago" class="form-control">
                            <option value="1">EFECTIVO</option>
                            <option value="2">TARJETA</option>
                            <!-- Agrega más opciones según tus necesidades -->
                        </select>
                        <span asp-validation-for="FormaPago" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="IdProveedor" class="control-label">Proveedor</label>
                        <select asp-for="IdProveedor" class="form-control">
                            <option value="">SELECCIONAR</option>
                            @foreach (var item in proveedores)
                            {
                                if (Model.IdProveedor == item.IdProveedor)
                                {
                                    <option selected value="@item.IdProveedor">@item.Nombre</option>
                                }
                                else
                                {
                                    <option value="@item.IdProveedor">@item.Nombre</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="IdProveedor" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="IdUsuario" class="control-label">Usuario</label>
                        <select asp-for="IdUsuario" class="form-control">
                            <option value="">SELECCIONAR</option>
                            @foreach (var item in usuarios)
                            {
                                if (Model.IdUsuario == item.Id)
                                {
                                    <option selected value="@item.Id">@item.Nombre</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Nombre</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="IdUsuario" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!-- BOTONES EDITADOS CON ICONOS -->

            <div class="form-group" style="margin-top: 10px;">
                <button type="submit" class="btn btn-success" style="margin-right: 10px;">
                    <i class="fas fa-save"></i> Guardar
                </button>

                <button type="button" class="btn btn-danger" onclick="window.location.href='@Url.Action("Index")'" style="margin-left: 10px;">
                    <i class="fas fa-times"></i> Cancelar
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(function () {
            $("form input[name],form select[name]").trigger("blur");
        });
    </script>
}
