@{
    ViewData["Title"] = "Index";
    SysInventarioFacturacionAgro.EntidadesDeNegocio.Venta venta = ViewBag.Ventas as SysInventarioFacturacionAgro.EntidadesDeNegocio.Venta;
    List<SysInventarioFacturacionAgro.EntidadesDeNegocio.Producto> productos = ViewBag.Producto as List<SysInventarioFacturacionAgro.EntidadesDeNegocio.Producto>;
    List<SysInventarioFacturacionAgro.EntidadesDeNegocio.DetalleVenta> ListaDetalle = ViewBag.ListaDetalle as List<SysInventarioFacturacionAgro.EntidadesDeNegocio.DetalleVenta>;
}
<div class="row">
    <div id="miDiv" style=" text-align: justify;">
        <div class="container">
            <p class="ticket-header">Agroservicio La Bendición del Agricultor</p>
            <img src="~/IMG/logoagro200x-removebg.png" class="ImagenTicket" />
            <p class="ticket-info">
                Dirección: 4ta Calle Poniente, Bo.Veracruz, casa 4, Sonsonate<br>
                Teléfono: +503 2451-5522 <br>
                
            </p>
            <hr />

            <p class="ticket-info">
                Fecha: @venta.FechaVenta<br>
                Número de Factura: @venta.NumeroVenta<br>
            </p>
            <hr />

            <p class="ticket-info">
                Cliente: @venta.NombreCliente<br>
                Direcion: @venta.DireccionCliente<br>
                Telefono: @venta.TelefonoCliente<br>
                Documento Unico de Identidad: @venta.DUICliente<br>
            </p>
        </div>

        <div>
            <table class="table">
                <thead>
                    <tr>


                        <th>
                            Producto
                        </th>
                        <th>
                            Descripción
                        </th>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Precio Unidad
                        </th>
                        <th>
                            Descuento
                        </th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ListaDetalle)
                    {
                        <tr>


                            <td>
                                @Html.DisplayFor(modelItem => item.Producto.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Producto.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cantidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Producto.PrecioUnitario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descuento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ValorTotal)
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="1">Total</td>
                        <td>
                            <b>  $ @venta.TotalPagado</b>
                        </td>
                    </tr>

                </tfoot>
            </table>

        </div>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-primary" onclick="imprimirDiv()"><i class="fa-solid fa-print" style="color: #ffffff;"></i> Imprimir</button>
    </div>
</div>
<script>
    function imprimirDiv() {
        var contenidoDiv = document.getElementById('miDiv').innerHTML;
        var ventanaImpresion = window.open('', '', 'width=600,height=600');
        ventanaImpresion.document.write('<style>@@page { margin: 0; }</style>');
        ventanaImpresion.document.write(contenidoDiv);
        ventanaImpresion.print();
    }
</script>
