@model SysInventarioFacturacionAgro.EntidadesDeNegocio.Usuario

@{
    ViewData["Title"] = "Delete";
}

@{
    ViewData["Title"] = "Delete";
}
<h1>Eliminar Usuario</h1>

<h3>¿ Esta seguro que desea eliminar ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdRol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rol.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>
        @if (Model.Estatus == 1)
        {
            <dd class="col-sm-10">
                ACTIVO
            </dd>
        }
        else if (Model.Estatus == 2)
        {
            <dd class="col-sm-10">
                INACTIVO
            </dd>
        }
        else
        {
            <dd class="col-sm-10"> </dd>
        }

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
    </dl>

    @* FUNCTION ELIMINAR USUARIO*@

@*    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        
        <a asp-action="Index" class="btn btn-dark">Cancelar</a>
    </form>
    <span class="text-danger">@ViewBag.Error</span>
</div>*@

    @using (Html.BeginForm("Delete", "Usuario", new { id = Model.Id }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <button type="submit" class="btn btn-danger" onclick="return confirm('¿Está seguro de eliminar?');" style="margin-left: 10px;">
            <i class="fas fa-trash"></i> Eliminar
        </button>

        <button type="button" class="btn btn-secondary" onclick="window.location.href='@Url.Action("Index")'" style="margin-left: 10px;">
            <i class="fas fa-times"></i> Cancelar
        </button>
        <span class="text-danger">@ViewBag.Error</span>
    }

</div>