@model SysInventarioFacturacionAgro.EntidadesDeNegocio.DetallesCompra

@{
    ViewData["Title"] = "Create";
    List<SysInventarioFacturacionAgro.EntidadesDeNegocio.Compra> compras = ViewBag.Compra as List<SysInventarioFacturacionAgro.EntidadesDeNegocio.Compra>;
    List<SysInventarioFacturacionAgro.EntidadesDeNegocio.Producto> productos = ViewBag.Producto as List<SysInventarioFacturacionAgro.EntidadesDeNegocio.Producto>;
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="m-0 font-weight-bold text-primary" style="font-size: 1.5rem;">Crear Detalle Pedido</h1>
    </div>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Cantidad" class="control-label">Cantidad</label>
                        <input asp-for="Cantidad" class="form-control" />
                        <span asp-validation-for="Cantidad" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ValorTotal" class="control-label">Valor Total</label>
                        <input asp-for="ValorTotal" class="form-control" />
                        <span asp-validation-for="ValorTotal" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="IdCompra" class="control-label">Compra</label>
                        <select asp-for="IdCompra" class="form-control">
                            <option selected value="">SELECCIONAR</option>
                            @foreach (var item in compras)
                            {
                                <option value="@item.IdCompra">@item.NumeroCompra</option>
                            }
                        </select>
                        <span asp-validation-for="IdCompra" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="IdProducto" class="control-label">Producto</label>
                        <select asp-for="IdProducto" class="form-control">
                            <option selected value="">SELECCIONAR</option>
                            @foreach (var item in productos)
                            {
                                <option value="@item.IdProducto">@item.Nombre</option>
                            }
                        </select>
                        <span asp-validation-for="IdProducto" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!-- BOTONES EDITADOS CON ICONOS -->
            <div class="form-group" style="margin-top: 10px;">
                <button type="submit" class="btn btn-success" style="margin-right: 10px;">
                    <i class="fas fa-save"></i> Guardar
                </button>

                <button type="button" class="btn btn-danger" onclick="window.location.href='@Url.Action("Index")'" style="margin-left: 10px;">
                    <i class="fas fa-times"></i> Cancelar
                </button>
            </div>

            <span class="text-danger">@ViewBag.Error</span>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
