@model SysInventarioFacturacionAgro.EntidadesDeNegocio.Venta

@{
    ViewData["Title"] = "Details";
}

<h1>Ver Venta</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroVenta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroVenta)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVenta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaVenta)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreCliente)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionCliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DireccionCliente)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoCliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelefonoCliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DUICliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DUICliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FormaPago)
        </dt>
        @if (Model.FormaPago == 1)
        {
            <dd class="col-sm-10">
                EFECTIVO
            </dd>
        }
        else if (Model.FormaPago == 2)
        {
            <dd class="col-sm-10">
                TARJETA
            </dd>
        }
        else
        {
            <dd class="col-sm-10"> </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descuento)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Impuesto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Impuesto)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPagado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPagado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>
    </dl>

</div>

@*BOTONES EDITADOS CON ICONOS*@

<td class="botonestabla">
    <button type="button" class="btn btn-success" style="background-color: #264DA0; color: white; margin-right: 10px;" onclick="window.location.href='@Url.Action("Edit", new { IdVenta = Model.IdVenta })'">
        <i class="fas fa-pencil-alt"></i> Ir a Modificar
    </button>
</td>

<td class="botonestabla">
    <button type="button" class="btn btn-danger" onclick="window.location.href='@Url.Action("Index")'" style="margin-left: 10px;">
        <i class="fas fa-times"></i> Cancelar
    </button>
</td>